.conteudo{
    width: 70%;
    margin: auto;
}
.navbar{
    padding: 0;
    background-color: #e3f2fd;
    margin-bottom: 40px;
}

.editar{
    margin-right:10px ;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(243, 243, 11);
}

.deletar{
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(253, 0, 0);
}
.acoes{
    width: 50px;
}